{template 'common/header'}
{template 'common'}
<ul class="nav nav-tabs">
    <!--<li {if $operation == 'post'}class="active"{/if}><a href="{php echo $this->createWebUrl('livevideo', array('op' => 'post'));}">Add Video</a></li>-->
    <li {if $operation == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('livevideo', array('op' => 'display'));}">Video List</a></li>
</ul>
<style>
    .table td span{display:inline-block;margin-top:4px;}
    .table td input{margin-bottom:0;}
</style>
{if $operation == 'display'}
<div class="panel panel-info">
    <div class="panel-heading">筛选</div>
    <div class="panel-body">
        <form action="" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
            <input type="hidden" name="c" value="site" />
            <input type="hidden" name="a" value="entry" />
            <input type="hidden" name="do" value="livevideo" />
            <input type="hidden" name="m" value="golf" />
            <input type="hidden" name="op" value="display" />
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 control-label">关键字</label>
                <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
                    <input class="form-control" name="keyword" id="" type="text" value="{$_GPC['keyword']}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 control-label">文章分类</label>
                <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
                    {php echo tpl_form_field_category_2level('category', $parent, $children, $_GPC['category']['parentid'], $_GPC['category']['childid']);}
                </div>
                <div class="pull-right col-xs-12 col-sm-2 col-md-2 col-lg-2">
                    <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="table-responsive panel-body">
        <table class="table">
            <thead>
            <tr>
                <th style="width:150px;">User Id</th>
                <th>Title</th>
                <th style="width:180px;">View Count</th>
                <th style="width:180px;">Attribute</th>
                <th style="width:200px; text-align:right;">Action</th>
            </tr>
            </thead>
            <tbody>
            {loop $list $item}
            <tr>
                <td>{if !empty($item['pcate'])}<span>{$item['userid']}</span>{else}{$item['userid']}{/if}</td>
                <td>
                    {if !empty($item['comment']) }<label class="label label-default label-info" onclick="viewComment('{$item['count']}')">View Comment</label>{/if}
                    {if !empty($item['pcate'])}<span class="text-error">[{$category[$item['pcate']]['name']}]</span>{/if}{if !empty($item['ccate'])}<span class="text-info">[{$category[$item['ccate']]['name']}]</span>{/if}
                    <a href="{php echo  $this->createWebUrl('livevideo', array('userid' => $item['userid'],'op' => 'post'))}" style="color:#333;">{$item['title']}</a>
                </td>
                <td>{$item['viewer_count']}</td>
                <td>
                    <label data='{$item['isnew']}' class='label label-default {if $item['isnew']==1}label-info{/if}' onclick="setProperty(this,'{$item['userid']}','new')">新品</label>
                    <label data='{$item['ishot']}' class='label label-default {if $item['ishot']==1}label-info{/if}' onclick="setProperty(this,'{$item['userid']}','hot')">热卖</label>
                    <label data='{$item['iscommend']}' class='label label-default {if $item['iscommend']==1}label-info{/if}' onclick="setProperty(this,'{$item['userid']}','commend')">首页</label>

                </td>
                <td style="text-align:right; position:relative;">
                    <a href="{php echo $this->createWebUrl('livevideo' , array('userid' => $item['userid'],'op' => 'post'))}" title="编辑">编辑</a>&nbsp;-&nbsp;
                    <a onclick="return confirm('此操作不可恢复，确认吗？'); return false;" href="{php echo $this->createWebUrl('livedata' , array('userid' => $item['userid'],'op'=>'delete'))}" title="删除">删除</a>
                </td>
            </tr>

            {if !empty($item['comment']) }
                <input type="hidden" id="comment_{$item['count']}" value="0" />
                {loop $item['comment'] $com}
                    <tr class="comment_{$item['count']}" style="display: none">
                        <td colspan="5" style="padding-left: 50px;">
                            <span>{$com['comment']}   Date:{php echo date('Y-m-d', strtotime($com['created_at']))} By: {$com['vip_username']}</span>
                        </td>
                    </tr>
                {/loop}
            {/if}
            {/loop}
            </tbody>
        </table>
    </div>
</div>
{$pager}
<script type="text/javascript">
    var category = {php echo json_encode($children)};
    function setProperty(obj,id,type){
        $(obj).html($(obj).html() + "...");
        $.post("{php echo $this->createWebUrl('setlivevideoproperty')}"
                ,{id:id,type:type, data: obj.getAttribute("data")}
                ,function(d){
                    $(obj).html($(obj).html().replace("...",""));
                    $(obj).attr("data",d.data)
                    if(d.result==1){
                        $(obj).toggleClass("label-info");
                    }
                },"json");
    }
    function viewComment(index){
        var comment_flag = $('#comment_'+index).val();
        if( comment_flag == '0') {
            $('.comment_'+index).show();
            $('#comment_'+index).val('1');
        }else {
            $('.comment_'+index).hide();
            $('#comment_'+index).val('0');
        }

    }
</script>
{elseif $operation == 'post'}
<div class="clearfix">
    <form class="form-horizontal form" action="" method="post" enctype="multipart/form-data">
        <div class="panel panel-default">
            <div class="panel-heading">文章管理</div>
            <div class="panel-body">
                <input type="hidden" name="id" value="{$item[id]}">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">Viewer Count</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" class="form-control" placeholder="" name="viewer_count" value="{$item['viewer_count']}">
                        <span class="help-block">文章的显示顺序，越大则越靠前</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">Like Count</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" class="form-control"  name="like_count" value="{$item['like_count']}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">Video Title</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" class="form-control" placeholder="" name="title" value="{$item['title']}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">自定义属性</label>
                    <div class="col-sm-8 col-xs-12">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="option[hot]" value="1" {if $item['ishot']} checked{/if}> 头条[h]
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="option[commend]" value="1" {if $item['iscommend']} checked{/if}> 推荐[c]</label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="option[new]" value="1"  {if $item['isnew'] == 1} checked {/if} /> New[n]
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">Video Tag</label>
                    <div class="col-sm-8 col-xs-12">
                        {loop $selected_video $li}
                        <label class="checkbox-inline" style="padding-top: 0px;">
                            <input type="checkbox" name="ids[]" value="{$li['userid']}_{$li['id']}" {if $li['selected_video']== '1'} checked {/if}> {$li['title']}
                        </label>
                        {/loop}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">Stream Id</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" class="form-control" name="stream_id" readonly value="{$item['stream_id']}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">Nick Name</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" class="form-control"  name="nickname" readonly value="{$item['nickname']}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">Head picture</label>
                    <div class="col-sm-8 col-xs-12">
                        {php echo tpl_form_field_image('headpic', $item['headpic'])}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">Front Cover</label>
                    <div class="col-sm-8 col-xs-12">
                        {php echo tpl_form_field_image('frontcover', $item['frontcover'])}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">Location</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" class="form-control"  name="location" readonly value="{$item['location']}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">Push Url</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" class="form-control"  name="push_url" readonly value="{$item['push_url']}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">Status</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" class="form-control"  name="status" readonly value="{$item['status']}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">Description</label>
                    <div class="col-sm-8 col-xs-12">
                        <textarea class="form-control" name="desc" rows="5">{$item['desc']}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">Play Url</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" class="form-control"  name="play_url" readonly value="{$item['play_url']}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">Hls Play Url</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" class="form-control"  name="hls_play_url" readonly value="{$item['hls_play_url']}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">文章类别</label>
                    <div class="col-sm-8 col-xs-12">
                        {php echo tpl_form_field_category_2level('category', $parent, $children, $pcate, $ccate)}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <input name="submit" type="submit" value="提交" class="btn btn-primary col-lg-1">
                <input type="hidden" name="token" value="{$_W['token']}" />
            </div>
        </div>
</form>
</div>

<script type="text/javascript">
    var category = {php echo json_encode($children)};
    $('#credit1').click(function(){
        $('#credit-status1').show();
    });
    $('#credit0').click(function(){
        $('#credit-status1').hide();
    });
</script>

{/if}
{template 'common/footer'}
